@{
    Layout = "■__SM_________.cshtml";
}

<script src="~/printThis.js"></script>

<style>
    resume {
        font-family: monospace !important;
    }
        /*
            resume #resHead p {
                color: red !important;
                font-family: monospace !important;
            }


            resume .resJob h1 {
                color: gold !important;
                font-family: monospace !important;
            }

            resume .resJob h2, resume .resJob a {
                color: blue !important;
                font-family: monospace !important;
            }

            resume .dateLocation span {
                color: aqua !important;
                font-family: monospace !important;
            }


            resume .jobDesc {
                color: purple !important;
                font-family: monospace !important;
            }

            resume .resJob li {
                color: chartreuse !important;
                font-family: monospace !important;
            }

            resume .bodyTitle {
                color: orange !important;
                font-family: monospace !important;
            }


            resume .resEdu h1, resume .resEdu a {
                color: pink !important;
                font-family: monospace !important;
            }
    */

        resume .download {
            width: 14%;
            height: auto;
            padding: 1% 0%;
        }

            resume .download a,
            resume .download button {
                background: black;
                color: white;
                border: none;
                padding: 1% 4%;
                font-size: 10px;
                margin-top: 0%;
                margin-bottom: 10%;
                margin-left: 0;
            }

                resume .download a:hover,
                resume .download button:hover {
                    color: #f600ff;
                }

            resume .download img {
                height: 10px;
                width: auto;
                background: white;
                background: white;
            }

            resume .download a {
                padding: 2% 4%;
            }
</style>




<style>

    resume page {
        size: A4;
    }


    resume body {
        font-family: 'IBM Plex Mono', monospace, 'Open Sans', sans-serif;
    }


    resume page img {
        height: 100%;
        width: 100%;
    }

    resume page[size="A4"] {
        width: 210mm;
        height: 297mm;
        /*transform: scale(1.2);*/
        /*transform: scale(1.2);*/
        /*margin-top:6.6%;
                                                                margin-bottom:10%;*/
        position: relative;
    }

    resume #resume {
        outline: 1px solid rgb(255 0 141 / 79%);
    }

        resume #resume:hover {
            outline: 1px solid #3cff00;
        }

    resume * {
        box-sizing: border-box;
    }

    resume page {
        background: white;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        border: 1px solid #313131;
        box-sizing: border-box;
    }

    resume #Artisan {
        font-size: 11px;
        margin-bottom: 1%;
    }

        resume #Artisan o {
            font-size: 11px;
            color: black;
        }

        resume #Artisan span {
            font-size: 10px;
        }

    resume.img {
        box-shadow: -0.1px 0px 10px 1px rgba(0, 0, 0, 0.75);
    }

    resume .cv {
        font-size: 24px;
        width: 35%;
        height: auto;
        margin: auto;
        margin-bottom: 3%;
        list-style: none;
        overflow: hidden;
        margin-bottom: 4%;
        color: black;
        border-radius: 2px;
    }

        resume .cv a {
            color: black;
        }

        resume .cv div:nth-child(2) {
            padding: 1% 2%;
        }

        resume .cv p {
            padding: 0 2%;
            color: black;
            font-size: 14px;
            font-weight: 200;
            line-height: 21px;
        }

    resume l {
        font-size: 14px;
        font-weight: bold;
    }

    resume r {
        float: right;
        font-size: 14px;
        font-weight: bold;
    }

    resume .cv img {
        width: 94%;
        height: auto;
        display: block;
        border: 1px solid rgba(11, 11, 11, 0.39);
        margin: auto;
        margin-bottom: 30px;
        margin-top: 2%;
        border-radius: 2px !important;
    }

    resume .cv o {
        color: black;
        font-size: 13px;
    }

    resume .edison {
        position: absolute;
        top: 20%;
        right: 8%;
        z-index: -1;
        width: 28%;
        height: auto;
        border-radius: 3px;
    }

    resume .cv2 {
        width: 35%;
        margin: auto;
        border-radius: 2px;
        padding: 1%;
        margin-bottom: 1%;
    }

    resume .img {
        height: 200px;
        width: auto;
    }

    resume button {
        margin: 1% 3%;
        font-size: 12px;
    }

    resume #res a:hover {
        color: deeppink;
    }

    resume #res {
        font-family: 'Muli';
        height: 100%;
        width: 100%;
    }

    resume #resHead {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 14%;
        border-bottom: 1px solid rgb(62 49 0);
    }

        resume #resHead a {
            font-weight: 600;
            color: black;
            text-shadow: none;
            font-weight: 200 !important;
            font-size: 12px;
            border: none;
        }

        resume #resHead ul {
            text-align: end;
            list-style-type: none;
            margin-right: 10%;
            margin-top: -3%;
        }

        resume #resHead li {
            text-shadow: -1px 0px #0202028f;
            font-size: 11px;
            padding: 1.5% 0;
        }

    resume h1 {
        margin-left: -12% !important;
    }

    resume #resHeadBlock {
        float: left;
        display: none;
        height: 50px;
        width: 30px;
        margin-right: -30px;
        position: relative;
        margin-top: -3%;
    }

    resume #resHeadName {
        padding-top: 4%;
        height: 100%;
        width: 37.5%;
    }

        resume #resHeadName p {
            font-family: monspace;
            font-size: 12px;
            margin-left: 10%;
            margin-bottom: 0%;
            margin-top: 6px;
            color: black;
            text-shadow: none;
        }

            resume #resHeadName p:first-of-type {
                margin-top: 1.5%;
            }

    resume #resHeadContact {
        padding-top: 6%;
        height: 100%;
        width: 37.5%;
        margin-right: -13%;
    }

    resume .w-25 {
        height: 100%;
        width: 20%;
    }

    resume .redBodyWrapper {
        display: flex;
        justify-content: space-around;
        height: 86%;
    }

    resume .resBody {
        width: 50%;
        height: 100%;
        float: left;
        padding-left: 7.5%;
        padding-right: 3%;
        padding-top: 2.5%;
    }

        resume .resBody:nth-child(1) {
            padding-top: 0;
        }

        resume .resBody a {
            border-bottom: 0;
        }

    resume .resvignetteWrapper {
        padding-top: 0%;
        width: 100%;
        height: 100%;
        display: flex;
    }

    resume .resvignette {
        position: relative;
        height: 110px;
        width: 110px;
        border: 0.9px solid rgb(0 195 204);
        margin: auto;
        border-radius: 55px;
        overflow: hidden;
    }

        resume .resvignette img {
            margin: auto;
            position: relative;
            border-radius: 29px;
            width: 77%;
            height: auto;
        }

    resume .bodyTitle {
        font-size: 18px;
        color: black;
    }


    resume .resBody:nth-child(2) .bodyTitle {
        margin-left: -8%;
    }

    resume .resJob {
        width: 100%;
        height: auto;
        margin-top: 5.75%;
    }

        resume .resJob h1 {
            font-size: 15px;
            font-weight: 600;
            color: black;
        }

        resume .resJob h2, .resJob a {
            margin-top: -2.7%;
            margin-bottom: 5%;
            font-size: 14px;
            font-weight: 200;
            color: black;
        }

        resume .resJob a {
            color: black;
            border: none;
            text-decoration: none;
        }

    resume .dateLocation {
        margin-top: -3%;
        margin-bottom: 1.5%;
        font-style: italic;
        display: flex;
        justify-content: space-between;
        padding: 0 2.5%;
    }

        resume .dateLocation span {
            color: black;
            font-weight: 200;
            text-indent: 0;
            font-size: 10px;
        }



    resume .jobDesc {
        color: black;
        margin-top: -0.5%;
        text-align: left;
        font-size: 9px;
        margin-bottom: 0;
    }

    resume ul {
        color: black;
    }

    resume .resJob ul {
        margin-left: -30px;
    }

    resume .resJob li {
        color: black;
        padding-top: 0;
        font-weight: 200;
        font-size: 10px;
        list-style: none;
    }

    resume .achievements span {
        font-size: 11px;
        font-style: italic;
        font-size: 9px;
    }

    resume .nameTitle {
        font-size: 26px;
        margin-left: 16.5%;
        font-weight: 300;
        color: black;
    }

    resume .resHeadIcon {
        height: 13px;
        width: auto;
        margin-bottom: -2px;
    }

    resume #skills {
        margin-top: 1%;
        margin-left: -60px;
    }

        resume #skills li {
            display: inline-block;
            background-color: #a7ff00ba;
            color: black;
            border-radius: 20px;
            font-size: 12px;
            margin-bottom: 8px;
            padding: 0 12.8px !important;
        }

            resume #skills li p {
                font-size: 10px;
                text-align: center;
                width: auto;
            }

    resume .h1 {
        font-size: 14px;
        font-weight: 400;
    }

    resume .pandaH {
        margin-top: 0%;
        font-size: 11px;
    }

    resume .pandaMonium {
        float: right;
        width: 75px;
        height: auto;
        margin-right: -2%;
        margin-top: -1%;
        border-radius: 100px;
        border: 1px solid rgba(0, 0, 0, 0.66);
        box-shadow: -1px 1px 0.1cm 1px black, inset -1px -1px 0.1cm 5cm #35ffa2;
    }

    resume .adobePortage {
        font-size: 9px;
        color: rgba(47, 214, 10, 0.68);
    }

    resume .green,
    resume .green p {
        color: rgba(99, 210, 74, 0.68) !important;
    }

    resume #portage {
        text-decoration: line-through;
        font-size: 9px;
        color: black;
    }



    resume .resEdu {
        margin-top: -2%;
        margin-left: -8%;
        padding-bottom: 2%;
    }

        resume .resEdu h1,
        resume .resEdu h1 a {
            color: black;
            font-weight: 400;
            font-size: 13px;
        }

        resume .resEdu h2 a {
            margin-top: -2%;
            color: black;
            font-size: 15px;
            font-weight: 400;
            margin-left: 1%;
        }

        resume .resEdu a {
            font-weight: 600;
        }

        resume .resEdu ul {
            margin-left: -22px;
        }

        resume .resEdu li {
            color: black;
            font-weight: 200;
            display: inline-block;
            width: 100%;
            padding-bottom: 2%;
            font-size: 11px;
        }

            resume .resEdu li:before {
                content: "•";
            }

    resume .smGreyItalic {
        color: black;
        font-size: 10px;
        font-style: italic;
    }

        resume .smGreyItalic a {
            color: black;
        }

    resume .resEdu h2 {
        margin-top: -2%;
        font-size: 16px;
        font-weight: 400;
    }

    resume .resActivity {
        margin-top: -2%;
        margin-left: -1%;
        padding-bottom: 2%;
        width: 100%;
    }

        resume .resActivity h2 {
            font-size: 12px;
            font-weight: 500;
        }

        resume .resActivity .dateLocation {
            margin-left: -2%;
            margin-top: 1%;
        }

        resume .resActivity ul {
            margin-left: -22px;
            margin-top: -1%;
        }

        resume .resActivity li {
            display: inline-block;
            width: 45%;
            font-size: 11px;
        }

            resume .resActivity li:before {
                content: "•";
            }

    resume .smGreyItalic {
        font-size: 10px;
        font-style: italic;
    }

        resume .smGreyItalic a {
            font-size: 10px;
        }

    resume .resActivity .smGreyItalic {
        margin-top: -2.5%;
    }

    .parkland li {
        width: 45% !important;
    }

    resume h1 {
        font-size: 14px;
    }




</style>

<link href="~/Res_current.css" rel="stylesheet" />
<style>

</style>

<resume>
    <div style="position:absolute;top:20%;left:5%;" class="download">

        <button id="print"> Print to PDF        </button>
        <br />


        <a href="~/Zach_Johnson_Resume.pdf" target="_blank" download="~/Zach_Johnson_Resume.pdf" class="resumePDF">
            <img src="~/AI_SVGs/get_app-24px.svg" />&nbsp;  Resume.pdf
        </a>
    </div>
    <style>
        resume page {
            margin-top: 5%;
        }
    </style>





    <page size="A4" id="resume">
        <div id="res">

            <div id="resHead">
                <div id="resHeadName">


                    <span class="nameTitle">
                        Zach Johnson
                    </span>
                    <p> Full Stack Web | IT Systems | Networking </p>

                    <p>
                        In the past I heavily worked Asp.net C# Razor, SQL, ECMA-262 ECMAScript, Web Api's , C++, C, & Python.
                    </p>

                </div>
                <div id="resHeadContact">
                    <ul>
                        <li style="letter-spacing:.9px;">
                            214.490.3232
                            <img src="~/AI_SVGs/phone_android-24px.svg" class="resHeadIcon" />
                        </li>
                        <li>
                            <a href="mailto: shinsetsu@protonmail.com">
                                shinsetsu@protonmail.com
                                <img src="~/AI_SVGs/email-24px.svg" class="resHeadIcon" />
                            </a>
                        </li>

                        <li>
                            <a href="http://www.studioshin.dev" target="_blank">
                                www.studioshin.dev
                                <img src="~/AI_SVGs/desktop_windows-24px.svg" class="resHeadIcon" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.github.com/shinsetsu" target="_blank">
                                github.com/shinsetsu
                                <img src="~/AI_SVGs/github-brands.svg" class="resHeadIcon" />
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="w-25">
                    <div class="resvignetteWrapper">
                        <style>
                            .resvignette img {
                                left: 9%;
                                top: -3%;
                                width: 84%;
                                height: auto;
                            }
                        </style>
                        <div class="resvignette">

                            <img src="~/zjohnson9.png" />
                        </div>



                    </div>
                </div>




            </div>

            <div class="redBodyWrapper">
                <div class="resBody">
                    @*<span class="bodyTitle">Experience</span>                <br />*@


                    <div class="resJob">

                        <h1>Web Applications Programmer</h1>
                        <h2>
                            <a href="https://www.artisantg.com" target="_blank">    Artisan Technology Group</a>
                        </h2>
                        <div class="dateLocation">
                            <span>
                                01/2019 – 05/2019
                            </span>
                            <span>Champaign, Illinois</span>
                        </div>

                        <div class="jobDesc" id="Artisan">
                            <o>Artisan;</o>
                            <div>
                                is an Electrical Engineering building that repairs Lockheed Martin equipment.
                                Artisan also develops their website for re-selling of Electronics, Data Acquisition Equipment, and various Manufacturing items.

                                <br /><br /> At Artisan I worked Asp.net Core C# Razor 3.1, ECMAscript 262, WebApi's, & BeautifulSoup.py<br />
                                <br />Updating <a href="https://www.artisantg.com/">artisanTG.com</a> 
                            </div>
                        </div>

                    </div>

                    <div class="resJob">

                        <h1>Web Applications Developer </h1>
                        <h2>Dynaﬂex Systems</h2>
                        <div class="dateLocation">
                            <span>02/2017 – 08/2017</span>
                            <span>Louisville, Kentucky </span>
                        </div>

                        <div class="jobDesc">
                            Contract work, Business Tools & Web Applications Programming.<br />  Small Contract
                            <o class="Progen">Research</o>
                        </div>

                        <ul>
                            <li>
                                Developed data displays using Asp.Net Core 1.0, JavaScript, & DHTMLX.
                            </li>
                        </ul>
                    </div>



                    <div class="resJob">

                        <h1>ASP.NET Developer Internship - TTG</h1>
                        <h2><a href="https://pressroom.ups.com/pressroom/ContentDetailsViewer.page?ConceptType=FactSheets&id=1426321566696-701" target="_blank"> UPS - Worldport  </a></h2>
                        <div class="dateLocation">
                            <span>03/2015 – 11/2015</span>
                            <span>Louisville, Kentucky</span>
                        </div>

                        <div class="jobDesc">UPS International Air Operations</div>

                        <ul>
                            <li>
                                Developed with ASP.NET MVC C#. Import; Track; Export;
                                <br />Manage IT System Metrics &nbsp;&nbsp;&nbsp;
                            </li>
                            <li>
                                Gathered & Created Business & Technical Requirements
                                through weekly meetings.
                            </li>
                        </ul>
                    </div>


                    <div class="resJob">

                        <h1>Software QA Internship</h1>
                        <h2><a href="https://www.rawlingsgroup.com" target="_blank">The Rawlings Group</a></h2>
                        <div class="dateLocation">
                            <span>
                                01/2014 – 06/2014
                            </span>
                            <span>Louisville, Kentucky</span>
                        </div>

                        <div class="jobDesc">
                            The Insurance Recovery through Subrogation company. (A KY Pioneer)
                        </div>

                        <ul>
                            <li>
                                Testing of proprietary software, processes,
                                <br /> & Business Logic for subrogation Data Mining.
                            </li>
                            <li>
                                Utilized SQL Server, Microsoft TFS & Test Manager to test, track & log system bugs.
                            </li>
                        </ul>
                    </div>



                    <div class="resJob">

                        <h1>Consultant and Digital Artist</h1>
                        <h2><a href="https://renci.org" target="_blank">Renaissance Computing Institute, UNC </a></h2>
                        <div class="dateLocation">
                            <span>2011 – 2013</span>
                            <span>Chapel Hill, North Carolina</span>
                        </div>

                        <div class="jobDesc">
                            Renci develops & deploys adv. technologies to enable
                            <o class="Progen">Research</o>
                            discoveries.
                        </div>

                        <ul>
                            <li>
                                This was a As-Needed, that also granted access to equipment such as Windows HPC Clusters for employee growth.
                            </li>
                        </ul>
                    </div>




                    <div class="resJob" style="margin-top:3%;">


                        <h2><a href="https://beckman.illinois.edu" target="_blank">Beckman Institute - ITG,  UIUC </a></h2>
                        <div class="dateLocation">
                            <span>
                                2008 – 2010
                            </span>
                            <span>Champaign - Urbana, Illinois</span>
                        </div>

                        <div class="jobDesc">
                            Beckman Institute is an interdisciplinary
                            <o class="Progen">Research</o>
                            institute devoted to leading-edge
                            <o class="Progen">Research</o>
                        </div>

                        <ul>
                            <li>
                                MEL Scripting: particle effects, data manipulation, & to
                                Automate Repetitive Task, Autodesk Maya.<br />    <o class="Progen">Distributed Render Farm Research</o> <br /> Simulations | Particles | Production Pipeline
                            </li>
                        </ul>
                    </div>

                </div>



                <div class="resBody">
                    <span class="bodyTitle">Past Romance</span>

                    <img src="~/pandamonium.jpg" class="pandaMonium" />

                    <ul id="skills" class="pagination">



                        <li> <p>                     Asp.Net Core                        </p> </li>
                        <li> <p>                       C#                                  </p> </li>
                        <li> <p>                       Razor                             </p>   </li>
                        <li> <p>                       MVC                              </p>    </li>
                        <li> <p>                       SSMS                             </p>    </li>
                        <li> <p>                       SQL                             </p>    </li>
                        <li> <p>                       IIS                              </p>    </li>
                        <li> <p>                       Python                             </p>  </li>
                        <li> <p>                       RegEX                             </p>   </li>
                        <li> <p>                       Angular                             </p>   </li>
                        <li> <p>                       Adobe <o id="portage">Collection</o>  <o class="adobePortage">Portage</o>          </p>         </li>

                        <li class="green">          <p>              UI Tooling                            </p>    </li>
                        <li class="green">          <p>              Page Tooling                            </p>    </li>

                        <li class="green">           <p>             Os Tooling                           </p>     </li>
                        <li> <p>                       touchOfAWS | EC2 | RDS | Elastic  </p></li>


                    </ul>




                    <span class="bodyTitle"> Education</span>

                    <div class="resEdu">
                        <h1>
                            <a href="https://engineering.louisville.edu">
                                Bachelors of Science <br /> Computer Engineering
                                & Computer Science
                            </a>
                        </h1>
                        <h2><a href="https://louisville.edu" target="_blank">University of Louisville</a></h2>
                        <div class="dateLocation">
                            <span>2012 - 2016  <o style="opacity:.8;color:rgb(5, 5, 5);margin-left:10px;">3 classes shy</o> </span>
                            <span>Louisville, Kentucky</span>
                        </div>

                        <div class="smGreyItalic">
                            107 of 123 Credit Hours Completed.
                            <br />In Total 215 College Credits.
                        </div>
                        <ul>
                            <li>
                                I completed my Senior Capstone in the Electrical Engineering Dept.
                            </li>
                            <li>
                                Computer Science
                            </li>
                            <li> Methodical Approach</li>

                        </ul>
                    </div>

                    <div class="resEdu">
                        <h1>Associates in Applied Science</h1>
                        <h2><a href="https://www.parkland.edu" target="_blank">Parkland College</a></h2>
                        <div class="dateLocation">
                            <span>2006 - 2010</span>
                            <span>Louisville, Kentucky</span>
                        </div>

                        <div class="smGreyItalic">106 Credit Hours</div>
                        <ul class="parkland">
                            <li>
                                Computer Science
                            </li>
                            <li>    Math & Physics</li>
                            <li>    Tradition & Digital Art</li>
                            <li>    Japanese    </li>
                        </ul>
                    </div>






                    <span class="bodyTitle"> Activities</span>


                    <div class="resActivity">
                        <h1>Member, Cyber Defense Team at UofL</h1>
                        <div class="smGreyItalic">
                            SysAdmin, Networks, Virtual OS, ect..
                        </div>
                        <div class="dateLocation">
                            <span>(06/2014 – 01/2017)</span>
                        </div>
                    </div>


                    <div class="resActivity">
                        <h1>Coursera Heterogeneous Parallel Programming</h1>
                        <div class="smGreyItalic" style="color: #0aa6a9;">
                            C Cuda Programming - <a href="https://goo.gl/KD4LNj">https://goo.gl/KD4LNj</a>
                        </div>
                        <div class="dateLocation">
                            <span>(01/2014 – 03/2014)</span>
                        </div>
                    </div>
                    <img src="~/CourseraHeterogenous_sm.jpg" style="height: 100px; margin-left:150px;margin-top:-12px; width: auto;" />

                </div>
            </div>
        </div>



    </page>



</resume>










@*<div class="cv">
    <div>
        <img class="img" src="~/port19/GE_Appliance_Park_Map.png" style="border-radius:2px;" />
    </div>

    <div>

        <l>
            General  Electric  AP-35:  <o style="float:right;"> Adv. Dev </o> <br />
            <a  href="https://www.geappliances.com/manufacturing-jobs/" target="_blank" style="margin-left:1vw;font-size:small;color:black;font-size:10px;">(Engr Co-ops) see map. Call Location. Check /w Addeco.</a>
        </l>             <r>2012</r>
        <p>
            This was the first time I had worked amongst a large amount of Engineers. There were easily ~50 Engineers in all disciplines.
            Most of whom worked directly with myself various times when coming to have their R&D parts built.
        </p>
        <p>
            I was seated next to a group of <o>GE Edison's</o> in Ap-35 working to improve the efficiency of small compressors.
            In 2012 a <o>Tear-Down</o> room was built. We designed tables, booths, & the flow of cataloging the disassembled & dissected items for Price Margining & Reverse Engineering.
            <br /><br />
            My main task was to run several Rapid Prototyping machines that supported R&D. Primarily a
            <a href="https://www.cati.com/3d-printing/stratasys-3d-printers/legacy-systems/connex-350/">Stratasys Connex 350 3D Printer</a>,
            which I spawned roughly 150-400 parts a week for Engineers throughout Appliance Park.
            We ran a decent amount of material through the Connex..  at least in my opinion. I sorta grew close with the machine.
            I also covered a 60ft Laser Table, & a smaller 4-Axis CNC /w ABS, and PP.
        </p>
        <p>
            In the <o>1980's GE Appliance Park</o>, Louisville KY employed <br />
            <o style="">25,000 employees<o style="color:black;">|</o>24/hrs a day at the single location</o><br />
            and currently employs ~12,000.      <br /><br />
            It was privileged to learn first hand how <b>GE</b> honors the Edison Tradition,
            and their approach to
            <a href="https://www.geappliances.com/manufacturing-jobs/" target="_blank" style="border-bottom:.8px dotted black;">
                <o>
                    Modern American Engineering
                </o>
            </a>

        </p>
    </div>
</div>

<div class="cv2">
    <a href="https://beckman.illinois.edu/" target="_blank">
        <img class="img2" src="~/port19/Beckman_s.jpg" />
    </a><br />

    <div class="txtVertCenter">
        <l>Beckman Imaging Technology Dept, UIUC  </l>             <r>2008-2011</r>
    </div>
</div>






<div class="cv2">
    <a href="https://renci.org/" target="_blank">
        <img class="img2" src="~/port19/RENCI_Europa_s.jpg" /><br />
    </a>
    <l>Renaissance Computing, UNC </l>             <r>2012-2014</r>
    <p>    </p>
</div>






<div class="cv2">
    <a href="https://rawlingsgroup.com/" target="_blank">
        <img class="img2" src="~/port19/TheRawlingsGroup_s.jpg" />
    </a><br />
    <l>The Rawlings Group </l>             <r>2014</r>
    <p>    </p>
</div>



<br />

<div class="cv2">
    <a href="https://pressroom.ups.com/pressroom/ContentDetailsViewer.page?ConceptType=FactSheets&id=1426321566696-701" target="_blank">
        <img class="img2" src="~/port19/UPSWorldport_s.jpg" />
    </a><br />
    <l>UPS Worldport </l>             <r>2015</r>
    <p>    </p>
</div>


<div class="cv2">

    <a href="https://priceweber.com/">
        <img class="img2" src="~/port19/PriceWeber_s.jpg" />
    </a><br />
    <a href="https://www.bizjournals.com/louisville/potmsearch/detail/submission/6389893/Zach_Johnson">
        <img class="img2" src="~/port19/ZEJ_LouBuisnessPW.png" style="width:100%;height:auto;" /><br />
    </a>
    <l>Price Weber </l>             <r>2016</r>
    <p>    </p>
</div>
<div class="cv2">
    <a href="http://13prime.com/">  <img class="img2" src="~/port19/13Prime.png" /></a><br />
    <l>13 Prime </l>             <r>2017</r>
    <p>    </p>
</div>

<div class="cv2">
    <a href="https://opencorporates.com/companies/us_ky/0990209">  <img class="img2" src="~/port19/1110Goss_s.png" /></a><br />
    <l>Dynaflex Systems LLC</l>             <r>2017</r>
    <p>    </p>
</div>


<div class="cv2">
    <a href="https://www.artisantg.com/">
        <img class="img2" src="~/port19/ArtisanTechnologyGroup_s.png" />
    </a><br />
    <l>Artisan Technology Group </l>             <r>2019</r>
    <p>    </p>
</div>*@



@*<div class="resJob">

        <h1>JobTitle</h1>
        <h2>Company</h2>
        <div class="dateLocation">
            <span>date</span>
            <span>Location</span>
        </div>

        <div class="jobDesc">________</div>
        <div class="achievements"><span>Achievements / Task</span></div>
        <ul>
            <li>
                Some_Job_Descripion____________
            </li>
        </ul>
    </div>*@







@*<span class="bodyTitle"> Education</span>

    <div class="resEdu">
        <h1>Degree</h1>
        <h2>School</h2>
        <div class="dateLocation">
            <span>date</span>
            <span>Location</span>
        </div>

        <div class="smGreyItalic">________</div>
        <ul>
            <li>
                Some_Job_Descripion____________
            </li>
        </ul>
    </div>*@




@*<div class="resActivity">
        <h1>ActivityName</h1>
        <div class="smGreyItalic">
           __SmallGreyItalics____</a>
        </div>

        <div class="dateLocation">
            <span>___Date___</span>
        </div>
    </div>*@












<!-- jQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- printThis -->
<script src="~/printThis.js"></script>

<script>
    $('#print').click(function() {

        //https://jasonday.github.io/printThis/#demos

        $('page').printThis(
            {
                printContainer: false,       // print outer container/$.selector
                importCSS: true,            // import parent page css
                importStyle: true,         // import style tags
                removeInline: false,        // remove inline styles from print elements
                loadCSS: "/Res_current.css",                // path to additional css file - use an array [] for multiple
                removeScripts: false,       // remove script tags from print content
            })




    })




</script>

