@*@{ Layout = "z___Wardrobe____________________.cshtml"; }*@
























<div id="containerA">


    <div class="tb">

        <div id="introText">
            <div style="        background: #b08ab6;
        position: relative;
        z-index: 2000;">

                <div style="display:flex;flex-direction:column;width:100%;height:auto;">
                    <div> <p class="fullTime-flex plz" style="display:block;">     fuaL.pa-Time | Part-Time | Contract            </p>   </div>
                    <div>
                        <h1>
                            Software Engineering | DBA | Full Stack Web Applications | QA Engineer | Research | Intern | HelpDesk/TechSupport <br />
                            General Position within your Company
                        </h1>
                    </div>

                </div>



                <div>

                    <style>
                        .pitch {
                            display: flex;
                            font-size: 14px;
                            justify-content: space-between;
                            flex-direction: column;
                            height: auto;
                            width: 100%;
                            margin: auto;
                            padding: 0%;
                            padding-bottom: 2%;
                            margin: 0; /*  background-color: rgba(0, 40, 85, .2);
                                                background-color: rgb(244, 244, 242);*/ /*background-image: linear-gradient(90deg, rgba(0, 12, 37, 0.53) 0%, rgba(139, 0, 0, 0) 82%, rgba(230, 0, 0, 0) 100%);*/
                            background-image: linear-gradient( 90deg, rgb(0 12 37 / 81%) 0%, rgb(60 12 73 / 44%) 82%, rgb(205 0 123 / 28%) 100%);
                        }

                            .pitch h2 {
                                font-size: 20px;
                                line-height: 31px;
                                word-spacing: 4.3px;
                                letter-spacing: -0.3px;
                                font-weight: 200;
                            }


                            .pitch div {
                                margin-left: 5%;
                                margin-right: 10%;
                            }

                                .pitch div p {
                                    letter-spacing: 0.11px;
                                    line-height: 20px !important;
                                }

                            .pitch li {
                                font-size: 11px;
                                font-weight: 100;
                                word-spacing: 2.5px;
                                line-height: 26px;
                                letter-spacing: 0.5px;
                                color: rgb(146, 146, 146);
                                text-shadow: none;
                            }
                    </style>

                    <div class="pitch">
                        <div>
                            <style>
                                ._sh {
                                    position: absolute;
                                    width: auto;
                                    height: 100vh;
                                    opacity: 0.9;
                                    top: 3.5vh;
                                    left: 293.4px;
                                    border-bottom-left-radius: 11px;
                                    border-bottom-right-radius: 39px;
                                    transform: scale(-1.6,1);
                                    border-left: 10vw solid black;
                                }
                            </style>
                            @*<p><img src="~/_sh.jpg" class="_sh" /></p>*@

                        </div>
                        <div>
                            <p>

                                <img src="~/sanHat.jpg" class="zjohnson" />
                            </p>
                            <h2>

                                Looking for work in <br />
                                <o style="margin-left: 7.3vw;">    Champaign - Urbana, Illinois</o><br />
                                Remotely & potentially with relocation.<br /><br />                        What Do you Work with?<br />                        Can I become Part of it?
                            </h2>

                        </div>
                        <ul style="margin-top:5vh;">
                            <li> ■ Design Information Systems to specified (Technical & Business Requirements)        </li>
                            <li> ■ Support the development, integration, configuration management, and publishing of architecture artifacts such as models, diagrams, documents, and databases       </li>
                            <li> ■ Object Factorying, StoredProcs, CMDB Design/Federation – SQL, Oracle, PostgreSQL, IBM DB2, Oracle, NoSQL       </li>
                            <li> ■ Conduct Group Technical Demonstrations, Code Reviews as appropriate, Smoke Testing,  UAT Testing, Black-Grey-WhiteBox Testing, Manual Testing, Unit/Automated Testing, Sanity Testing       </li>
                            <li> ■ Sprint Planning through Group Design Meetings        </li>
                            <li> ■ Survey/Select Tools and Frameworks to build Class Libraries around.                            </li>
                            <li> ■ .NET, ASP.NET, C, es6, C++, C#, Razor, Python       </li>
                            <li> Powershell, Automation </li>
                            <li> Windows Linux Mac</li>
                        </ul>

                        <ul>
                            <li>φ Writing and understanding VB in various forms (VBA, VBScript, VB6), ASP, Visual Studio, C#.Net Programming</li>
                            <li>µ Importing/exporting data from a variety of formats into different systems</li>
                            <li>Σ Writing Microsoft Excel macros</li>
                            <li>∩ Working with Microsoft Access</li>
                            <li>⌠ MySQL, SQL Server databases (Queries, Stored Procedures, Management Studio)</li>
                            <li>⌡ js</li>
                        </ul>
                    </div>


                </div>
                <p class="bodyText" style="margin-top:6%;margin-bottom:2%;">                <a href="/resume" class="resume"><img src="~/Resume.jpg" /></a>                Business Problems we can work together on Engineering a Solution?<br />                Things I can Fire AT?<br />                Feel free to contact me by phone or email & let's begin working together.<br /><br />                For the most part, I just like to Build Stuff.<br /><br />            </p>

                <div class="reccentFocus" style="background-color: #0e3919; padding-top: .5vh; padding-bottom: 4vh; padding-left: 1.9vw;">
                    <h2>  Recently working the<b> Microsoft</b> stack:</h2>   <h3>    Asp.Net C# MVC  <a href=@ViewBag.Razorhref target="b"> (￣ー￣)  Razor  </a>   <br />    SQL WebAPI's jQuery  ECMA-262 ECMAScript  Ajax<br />                            EF  Codefirst  Powershell Angular Bootstrap</h3>
                </div><div style="clear:both;"></div>
            </div>




            <p class="bodyText" style="margin-top:6%;margin-bottom:2%;">


            </p>


        </div>

    </div>

</div>





<div style="clear:both;"></div>


<!-- printThis -->
@*<script src="~/printThis.js"></script>*@

@*<script>
      $('#print').click(function () {

          //https://jasonday.github.io/printThis/#demos

          $('page').printThis(
              {
                  printContainer: false,       // print outer container/$.selector
                  importCSS: true,            // import parent page css
                  importStyle: true,         // import style tags
                  removeInline: false,        // remove inline styles from print elements
                  loadCSS: "/Resume.css",                // path to additional css file - use an array [] for multiple
                  removeScripts: false,       // remove script tags from print content
              })




      })




  </script>*@





<script type="text/javascript">

    @*We can use   @Url.Action("")*@




            //console.log(`pageReplaceFiring`)


         //$(`html`).innerHTml =  $(`html`).html().toString().replace('{{', '').replace('}}', '')


            //$(`shinglog`).html = page
            //console.log(`pageRepplace Compelte`)

            //.replace('{{',"").replace('}}',""))


            //document.getElementsByTagName('shinLog').innerHTML = document.getElementsByTagName('shinLog').innerHTML.replace('{{', "").replace('}}',"")
            //console.log(document.documentElement.innerHTML.replace('{{',"").replace('}}',""))
            //document.getElementsByTagName('body').innerHTML =   document.getElementsByTagName('body').innerHTML.replace('{{',"").replace('}}',"")




</script>

<style>
    gallery {
        width: 86%;
        height: auto;
    }

        gallery img {
            width: 10.4%;
            height: auto;
            border: 1px solid rgba(0, 0, 0, 0.45);
            margin: 0.3vh -0.2%;
            border-radius: 3px;
            opacity: .9;
        }
</style>

<gallery>

    <img src="~/beckman1_.jpg" />
    <img src="~/beckman2_.jpg" />
    <img src="~/beckman3_.jpg" />
    <img src="~/beckman4_.jpg" />
    <img src="~/beckman5_.jpg" />
    <img src="~/art/PNAs.jpg" />
    <img src="~/art/AFM.jpg" />
    <img src="~/Bow.jpg" />
    <img src="~/Look.jpg" />
    <img src="~/Monday.jpg" />
    <img src="~/Jade.jpg" />
    <img src="~/Beckman.jpg" />
    <img src="~/Halt.jpg" />

    <img src="~/Conroy.png" style="height:10vh;width:auto" />
    <img src="~/art/AhhYeah.jpg" />
    <img src="~/art/AhhYeahus.jpg" />
    <img src="~/art/Air.jpg" />
    <img src="~/art/Artisan.jpg" />
    <img src="~/art/ATG.jpg" />
    <img src="~/art/BeHarpy.jpg" />

    <img src="~/art/Blow.jpg" />
    <img src="~/art/Built.jpg" />
    <img src="~/art/Butterfly.jpg" />
    <img src="~/art/Car.jpg" />
    <img src="~/art/Clayton.jpg" />
    <img src="~/art/CureForColor.jpg" />
    <img src="~/art/Data.jpg" />
    <img src="~/art/Foh.jpg" />
    <img src="~/art/Gui.jpg" />
    <img src="~/art/Guise.jpg" />
    <img src="~/google.jpg" />
    <img src="~/art/IOU.jpg" />
    <img src="~/art/Jay.jpg" />
    <img src="~/art/Necklace.jpg" />
    <img src="~/art/Nude.jpg" />

    <img src="~/art/Proc2.jpg" />
    <img src="~/art/Procedural.jpg" />
    <img src="~/art/Rawlings.jpg" />
    <img src="~/art/RightHere.jpg" />
    <img src="~/art/SS.jpg" />
    <img src="~/art/Stack.jpg" />
    <img src="~/art/Stenciol.jpg" />
    <img src="~/jtAssoc.png" />
    <img src="~/JT_2.jpg" />
    <img src="~/needle.jpg" />
    <img src="~/cat.jpg" />

</gallery>




<div class="lastimgWrapper">
    <div class="lastImg">
        <img src="~/hiking_sml.jpg" />
        <img src="~/pool_sml.jpg" />
        <img src="~/hiking2_sml.jpg" />
    </div>
</div>