@*@using Microsoft.Extensions.FileProviders*@
@*@using _DBC;*@
@*@model IDirectoryContents;*@




@*<meta http-equiv="Refresh" content="0; url='/shinIps2'" />*@

@{
    Layout = "■__SM________Index.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">





<br />


<WardobefSites style="height:100%;width:100%;">


    @*<h2>Section area for rendering out or displaying of OtherSites in this ColorBox.</h2>*@

    @Html.Partial("IntroBar.cshtml")
    @Html.Partial("z___AboutZJ____________________.cshtml")
    @Html.Partial("z_writing.cshtml")


    @*@Html.Partial("JWys.cshtml")*@
    @*@Html.Partial("JCreate.cshtml")*@
    @*@Html.Partial("FileUpload.cshtml")*@
    @*@Html.Partial("shinIps.cshtml")*@






</WardobefSites>










