@*@{ Layout = "z___Wardrobe_____.cshtml"; }*@









<div id="containerA">


    <div class="tb">

        <div id="introText">
            <div style="        background: #b08ab6;
        position: relative;
        z-index: 2000;">

                <div style="display:flex;flex-direction:column;width:100%;height:auto;">
                    <div> <p class="fullTime-flex plz" style="display:block;">     fuaL.pa-Time | Part-Time | Contract            </p>   </div>
                    <div>
                        <h1>
                            Full Stack Web Development | Database Administration | QA Engineer | IT Helpdesk / Support<br />

                        </h1>
                    </div>

                </div>



                <div>

                    <style>
                        .pitch {
                            display: flex;
                            font-size: 14px;
                            justify-content: space-between;
                            flex-direction: column;
                            height: auto;
                            width: 100%;
                            margin: auto;
                            padding: 0%;
                            padding-bottom: 2%;
                            margin: 0; /*  background-color: rgba(0, 40, 85, .2);
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                background-color: rgb(244, 244, 242);*/ /*background-image: linear-gradient(90deg, rgba(0, 12, 37, 0.53) 0%, rgba(139, 0, 0, 0) 82%, rgba(230, 0, 0, 0) 100%);*/
                            background-image: linear-gradient( 90deg, rgb(0 12 37 / 81%) 0%, rgb(60 12 73 / 44%) 82%, rgb(205 0 123 / 28%) 100%);
                        }

                            .pitch h2 {
                                font-size: 20px;
                                line-height: 31px;
                                word-spacing: 4.3px;
                                letter-spacing: -0.3px;
                                font-weight: 200;
                            }


                            .pitch div {
                                margin-left: 5%;
                                margin-right: 10%;
                            }

                                .pitch div p {
                                    letter-spacing: 0.11px;
                                    line-height: 20px !important;
                                }

                            .pitch li {
                                font-size: 11px;
                                font-weight: 100;
                                word-spacing: 2.5px;
                                line-height: 26px;
                                letter-spacing: 0.5px;
                                color: rgb(146, 146, 146);
                                text-shadow: none;
                            }
                    </style>

                    <div class="pitch">
                        <style>
                            .pitch h3 {
                                background-color: black;
                                font-weight: 200;
                                color: #20d156;
                                font-size: 14px;
                                line-height:19px;
                                margin-left: 2vw;
                                margin-bottom:0;
                                margin-top:0;
                                margin-right: 2vw;
                                padding-right: 2vw;
                                padding-left: 2vw;
                                padding-bottom: 1vh;
                                padding-top: 1vh;
                            }
                        </style>

                        <h3>
                            This web-page is intended to give a bit of info about myself,
                            and be a working area for creating new pages / layouts for things.
                            <br /> This is a working page, some items are in temporary positions in the pages layout.
                            <br /> I like to keep my layout full of color, and will be adding more Data Driven items as I am able to.
                        </h3>
                        <h3>

                            This site is built in Asp.net C#, and with Razor Pages.
                            <br />  I work in Visual Studio, and prefer to build most things from the grounds up.
                            <br />  I have a personal preference towards C# over VB, but can work with both.

                            <br /><br />  You'll see on my Resume that

                            <br />  In my past I have worked as a Digital Artist creating Science Visualizations using Maya, Mental Ray, Photoshop, and Nuke for compositing.
                            <br />  My most recent experiences are working with  Asp.net Web Applications, where I both design the layouts / Frontend and Wire the Backend | Database up to work with the application.
                            <br />  Naturally I also have a background in Information Technology and experience working with technologies listed below.
                        </h3>
                        <h3>
                                     I went to the University of Louisville for Computer Engineering, and all together spent about 8yrs taking College Courses.
                            <br />   I have studied heavily for Comptia Security+ & Network+. I have taken a practice bank of 1200 questions ~80% score.
                            <br />   I have yet to take the exams due to cost. I would be able to get both certifications within 3 weeks of starting if needed.
                        </h3>
                        

                        <div>
                            <img src="~/sanHat.jpg" class="zjohnson" style="float:right;width:20vw;height:auto;" />

                            <h2>
                                I am available for work Remotely, <br />
                                <o style="margin-left: 7.3vw;">   and in Dallas, Texas</o><br />
                                <br /><br />                        What Do you Work with?
                                <br />                        Can I become Part of it?
                            </h2>

                            <ul>
                                <li> ■ Design Information Systems to specified (Technical & Business Requirements)        </li>
                                <li> ■ Support the development, integration, configuration management, and publishing of architecture artifacts such as models, diagrams, documents, and databases       </li>
                                <li> ■ Object Factorying, StoredProcs, CMDB Design/Federation – SQL, Oracle, PostgreSQL, IBM DB2, Oracle, NoSQL       </li>
                                <li> ■ Conduct Group Technical Demonstrations, Code Reviews as appropriate, Smoke Testing,  UAT Testing, Black-Grey-WhiteBox Testing, Manual Testing, Unit/Automated Testing, Sanity Testing       </li>
                                <li> ■ Sprint Planning through Group Design Meetings        </li>
                                <li> ■ Survey/Select Tools and Frameworks to build Class Libraries around.                            </li>
                                <li> ■ .NET, ASP.NET, C, es6, C++, C#, Razor, Python       </li>
                                <li> Powershell, Automation </li>
                                <li> Windows Linux Mac</li>
                            </ul>

                            <ul>
                                <li>φ Writing and understanding VB in various forms (VBA, VBScript, VB6), ASP, Visual Studio, C#.Net Programming</li>
                                <li>µ Importing/exporting data from a variety of formats into different systems</li>
                                <li>Σ Writing Microsoft Excel macros</li>
                                <li>∩ Working with Microsoft Access</li>
                                <li>⌠ MySQL, SQL Server databases (Queries, Stored Procedures, Management Studio)</li>
                                <li>⌡ js</li>
                            </ul>
                        </div>

                    </div>


                </div>
               @* <p class="bodyText" style="margin-top:6%;margin-bottom:2%;">                <a href="/resume" class="resume"><img src="~/Resume.jpg" /></a>                Business Problems we can work together on Engineering a Solution?<br />                Things I can Fire AT?<br />                Feel free to contact me by phone or email & let's begin working together.<br /><br />                For the most part, I just like to Build Stuff.<br /><br />            </p>

                <div class="reccentFocus" style="background-color: #0e3919; padding-top: .5vh; padding-bottom: 4vh; padding-left: 1.9vw;">
                    <h2>  Recently working the<b> Microsoft</b> stack:</h2>   <h3>    Asp.Net C# MVC  <a href=@ViewBag.Razorhref target="b"> (￣ー￣)  Razor  </a>   <br />    SQL WebAPI's jQuery  ECMA-262 ECMAScript  Ajax<br />                            EF  Codefirst  Powershell Angular Bootstrap</h3>
                </div><div style="clear:both;"></div>*@
            </div>

        </div>

    </div>

</div>
  <Beckman>
        <div style="background-color:#00292387;
            
            height:auto;
            
            padding:1%;">
    <h1>   These Images were created by me at <a href="https://beckman.illinois.edu/" target="_blank">Beckman Institute University of Illinois</a>. <br />
        They are Journal Cover Images.  </h1>
        <dflex>
    <div><img src="~/art/Stack.jpg" /></div>
    <div><img src="~/beckman1_.jpg" /></div>
    <div><img src="~/beckman2_.jpg" /></div>
    <div><img src="~/beckman3_.jpg" /></div>
    <div><img src="~/beckman4_.jpg" /></div>
    <div><img src="~/beckman5_.jpg" /></div>
    <div><img src="~/art/PNAs.jpg" /></div>
    <div><img src="~/art/AFM.jpg" /></div>
    </dflex>
    </div>
    </Beckman>




<div style="clear:both;"></div>


<!-- printThis -->
@*<script src="~/printThis.js"></script>*@

@*<script>
      $('#print').click(function () {

          //https://jasonday.github.io/printThis/#demos

          $('page').printThis(
              {
                  printContainer: false,       // print outer container/$.selector
                  importCSS: true,            // import parent page css
                  importStyle: true,         // import style tags
                  removeInline: false,        // remove inline styles from print elements
                  loadCSS: "/Resume.css",                // path to additional css file - use an array [] for multiple
                  removeScripts: false,       // remove script tags from print content
              })




      })




  </script>*@





    <style>
        Beckman{
            color:white;
        
        }
        Beckman a:visited, Beckman a{
            color:white;

        }

        Beckman dflex{
            height:auto;
            width:100%;
            display:flex;
            justify-content:space-around;
            margin-bottom:3vh;
            
        }
        Beckman img{
            padding:0;
            margin:0;
            height:auto;
           width:10vw;
        }
        Beckman h1{
            float:right;
            font-size:14px;
                font-weight:100;
            margin-bottom:20px;
        }

    </style>

  <style>
    gallery {
        width: 86%;
        height: auto;
    }

        gallery img {
            width: 10.4%;
            height: auto;
          
            margin: 0.3vh -0.2%;
            border-radius: 3px;
            opacity: .9;
        }
</style>

<gallery style="display:none;">
    
    <img src="~/art/Artisan.jpg" />
    <img src="~/art/ATG.jpg" />
    @*<img src="~/Bow.jpg" />*@
    @*<img src="~/Look.jpg" />*@
    @*<img src="~/Monday.jpg" />*@
    <img src="~/Jade.jpg" />
    <img src="~/Beckman.jpg" />
    @*<img src="~/Halt.jpg" />*@

    @*<img src="~/Conroy.png" style="height:10vh;width:auto" />*@
    <img src="~/art/AhhYeah.jpg" />
    <img src="~/art/AhhYeahus.jpg" />
    <img src="~/art/Air.jpg" />
   
    @*<img src="~/art/BeHarpy.jpg" />*@

    <img src="~/art/Blow.jpg" />
    <img src="~/art/Built.jpg" />
    <img src="~/art/Butterfly.jpg" />
    <img src="~/art/Car.jpg" />
    <img src="~/art/Clayton.jpg" />
    @*<img src="~/art/CureForColor.jpg" />*@
    <img src="~/art/Data.jpg" />
    @*<img src="~/art/Foh.jpg" />*@
    @*<img src="~/art/Gui.jpg" />*@
    @*<img src="~/art/Guise.jpg" />*@
    @*<img src="~/google.jpg" />*@
    @*<img src="~/art/IOU.jpg" />*@
    <img src="~/art/Jay.jpg" />
    <img src="~/art/Necklace.jpg" />
    @*<img src="~/art/Nude.jpg" />*@

    @*<img src="~/art/Proc2.jpg" />*@
    @*<img src="~/art/Procedural.jpg" />*@
    <img src="~/art/Rawlings.jpg" />
    
    <img src="~/art/SS.jpg" />
    
    <img src="~/art/Stenciol.jpg" />
    
    <img src="~/JT_2.jpg" />
    <img src="~/needle.jpg" />
    <img src="~/cat.jpg" />

</gallery>



