@{ Layout = "■__SMM________.cshtml"; }


<style>
    guestbook{
        height:auto;
        width:10vw;
    }


</style>

<guestBook>

<h1>    Guest Book  </h1>

<p>     Sign my guest book  </p>

</guestBook>