


<div id="writingWrapper">

    <link href="~/writing.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap" rel="stylesheet">

    <div class="writing" id="writing">
       
        <h1 style="font-size:xx-large;font-weight:600">Asp.net|Systems|Design</h1>

        <p>
            I've worked with ASP and Web Applications for the last 7-8 years now. There are many areas of Web Technology.
            I enjoy most areas. I strive to keep code minimal, human readable, and maintainable.
          
        </p>
        @*<p>

            I am a Champaign native and a <b>Parkland Graduate</b>.<br />
            I’ve attended and am near completion of my Bachelor of Science,<br />

            <b style="margin-left:3.5vw;">University of Louisville</b> in

            <a href="https://engineering.louisville.edu">Computer Engineering & Computer Science </a>
            <i>(107/123 Credits - 213 Total Credit Hours Completed)</i>
        </p>*@

        <p>
            I've completed two internships in which I worked as:        <br />
            <b style="margin-left:5vw;"> Intern Software QA</b> at

            <a class="TRG" href="https://www.rawlingsgroup.com/" target="_blank">The Rawlings Group</a>
            <o class="printDisplayNone" style="display:block;padding-left:150px; color:black;font-size:x-large">& </o>
            <b style="margin-left:5vw">Intern Applications Developer</b> at
            <a class="UPS" href="https://pressroom.ups.com/pressroom/ContentDetailsViewer.page?ConceptType=FactSheets&id=1426321566696-701" target="_blank">
                UPS – Worldport
            </a>
        <p class="printDisplayNone">
            Each guided me to areas of<br /> Interest|Romance|Science. TY
        </p>


        <img class="UpsImg" style="float:right;width:30%;height:auto;margin-top:-1vh;" src="~/TheRawlingsGroup.jpg" />




        <p class="trgText">
            At<b> TRG</b> I utilized
            <i>    SRS Business Documentation</i>
            when formalizing the scope of test scenarios.<br /><br />
            There, much of my QA experience revolved around the SQL Database <i> Health Insurance Data HIPPA </i>
            /w stored procs that supported their  software for Insurance Subrogation.
            This became my foundation for working SQL and into the methodologies of QA and the depth at which one should test software.<br />
            We sat in an open-floor styled room with our Subrogation QA team consisting of  ~8-10 individuals, and were under the guidance of<br />
            <b class="manager"> Manager</b>  <b class="managerName">Nancy Deburger</b>

        </p>
        <h1 class="woldporth1">
            <img class="UpsImg" style="float:left;width:45%;height:auto;margin-left:4%;margin-top:-6vh;margin-bottom: 5vh;margin-left:0;margin-right:5vw;" src="~/UPS_Worldport5.jpg" />
            My second internship was at <br />
            <b style="float:right;">UPS Worldport - TTG </b>

        </h1>
        <p style="line-height: 2.6vh;text-indent: -1.5vw;margin-left: 2.5vw">
            Transportation Technologies Group<br />
            MY group consisted of 4 Application Developers working with ASP, SQL, Comrade, OracleDB,
            and had worked with ColdFusion in the past. The surrounding floor had several DBA's, Linux & Windows Systems|Operations men & women,
            under the guidance of <br />
            <b class="manager">Product Manager</b><b class="managerName"> Jim Greenwell</b>
        </p>

        <p class="extracting">

            Zach was put through the process of <br />

            <b>
                Extracting, Planning, Formalizing Technical & Business Requirements<br />
                Development, Unit Testing, QA Design, & some User/Employee Management
            </b>
            <o style="float:right;"> /w Notebook, Pen & Highlighters, StickyNotes, and...  ASP.net</o><br />
        </p>


        <p style="    width: 66%;
                text-align: center;
                margin: 0 2vw;
                margin-top: 4vh;
                font-size: large;
                margin-left: 1%;">
            I met with representatives from 3 different teams during the formalization period, resulting in what became the driving Business Logic to a portion of
            <b> System Metrics Ticking</b> that I worked on.
        </p>
        <p class="dataLifeCycle">
            The ( ~45 or so ) requirements specified the<b> Data Life Cycle</b> <br />
            and explicitly guided me during
            development so that end-product accurately tailored to the needs of each teams requesting the service. Passively I learned about some of the IT Systems Design and work flows
            of Individuals from my both my (4 person group) and the IT Floor as a whole.
        </p>
        <div class="clear"></div>


        <div class="signature">
            <div class="signatureTxt">
                <h3 style="margin-left:5%;font-size:24px;">
                    <b style="font-size:22px;">Zachery Johnson</b>
                </h3>
                <p>
                    +1 502.291.2208   <br />
                    <a href="mailto:Shinsetsu@protonmail.com" style="color:black;border:none;"> shinsetsu@protonmail.com</a>  <br />

                    <a href="http://www.shinsetsu.xyz" target="_self">www.shinsetsu.xyz</a>    <br />

                    <a href="https://github.com/shinsetsu" target="_blank">github.com/shinsetsu</a>    <br />



                </p>
            </div>


            <div class="clear"></div>
        </div>
        <img id="DRW" src="~/DRW.jpg" />
      
        

    </div>
</div>          @*WritingWrapper*@
<div class="clear"></div>



<!-- printThis -->
@*<script src="~/printThis.js"></script>*@
@*<div style="position:fixed;top:40%;right:5%;" class="download">

        <button id="print"> Print Writing to PDF        </button>
    </div>*@



<script>

    ////function printPage(sURL) {
    ////    this.contentWindow.__container__ = document.getElementById("writingWrapper")
    ////    this.contentWindow.onbeforeunload = closePrint
    ////    this.contentWindow.onafterprint = closePrint
    ////    this.contentWindow.focus() // Required for IE
    ////    this.contentWindow.print()


    ////    //var oHiddFrame = document.createElement("iframe")
    ////    //oHiddFrame.onload = setPrint
    ////    //oHiddFrame.style.position = "fixed"
    ////    //oHiddFrame.style.right = "0"
    ////    //oHiddFrame.style.bottom = "0"
    ////    //oHiddFrame.style.width = "0"
    ////    //oHiddFrame.style.height = "0"
    ////    //oHiddFrame.style.border = "0"
    ////    //oHiddFrame.src = sURL
    ////    //document.body.appendChild(oHiddFrame)
    ////}


    //$('#print').click(function () {
    //    $('consoleLog').html('Triggered: Print Writing')

        //https://jasonday.github.io/printThis/#demos
        //better yet... USe Web Api   Window.print()   lol   https://developer.mozilla.org/en-US/docs/Web/Guide/Printing





        //■■■■■■■■■■■■■■■■■■■■■■■■■■
        //■shinTD■
        //  Surly there is a more elegant way to performt this.
        //   We are not in the buisness of searching for proper CSS Stylings, to add it to a print quee...
        //    I see to Take a Snapeshot of the page.... With Text Selectable,
        //    Proboally something to turn all CSS for the given Wrapper
        //       To Inline CSS.
        //       Then take the item to (Print)
        //            I'd assume this would be much cleaner, and autoUpdating for any future requestOfPrint....... /w updated styles
        //             someone   Get/Write this... using Vanilla.....      ThX...   something for Zach...
        //
        //
        //  some vanilla code left below... These found on the Mozilla WebAPI's site.
        // I'd rather work with it from  as close to Vanilla as we can...
        //      Later the style editing of the docment for PrintStyles should be manipulated Live-Page style....
        //■■■■■■■■■■■■■■■■■■■■

        //document.getElementById(writingWrapper).print()
        //var html = "<html>"
        //html += document.getElementById('writingWrapper').innerHTML
        //html += "</html>"

        //var printWin = window.open('', '', 'left=0,top=0,width=1,height=1,toolbar=0,scrollbars=0,status  =0')
        //printWin.document.write(html)
        //printWin.document.close()
        //printWin.focus()
        //printWin.print()
        //printWin.close()

        //$('#writingWrapper').printThis(
        //    {
        //        printContainer: true,       // print outer container/$.selector
        //        importCSS: true,            // import parent page css
        //        importStyle: true,         // import style tags
        //        removeInline: false,        // remove inline styles from print elements
        //        //loadCSS: "/port19/writing.css",                // path to additional css file - use an array [] for multiple
        //        loadCSS: "/port19/printWriting.css",                // path to additional css file - use an array [] for multiple
        //        removeScripts: false,       // remove script tags from print content
        //    })


    //})




</script>

