

<style>



    #Home {
        position: fixed;
        /*left: 5vw;*/
        left: 95px;
        top: 0;
        margin: auto;
        text-align: center;
        padding: 0;
        background-color: #828282;
        width: 3vw;
        min-width: 40px;
        height: 29px;
        z-index: 10000;
        border-bottom: 1px solid #dddddd;
    }

        #Home:hover {
            background-color: rgb(114 196 219);
        }

    .LLinks {
        font-family: 'IBM Plex Mono', monospace, 'Open Sans', sans-serif;
        float:left;
        z-index: 9001;
        color: #00f548d4;
        width: 1vw;
        height: 100vh;
        width: 10vw;
        background-color: rgba(0, 0, 0, 0.27);
        border: .5px solid rgb(20, 20, 20);
        padding: .55% .75%;
        padding-left:2vw;
        border-radius: 10px;
        z-index: 50000;
        position: static;
        background-color: rgb(0 0 0 / 37%);
        margin: 0;
        border-radius: 0;
        flex-direction: column;
    }

        .LLinks div {
            width: auto;
            flex: auto;
            text-wrap: none !important;
        }

            .LLinks div:first-of-type {
                margin-top: 10vh;
                outline: 1px solid red;
            }

        .LLinks a {
            display: block;
            font-weight: 200;
            border: none;
            text-decoration: none;
            margin-bottom: .5vh;
            color: rgba(255, 255, 255, 0.83);
            font-size: 13px;
            letter-spacing: 1.7px;
            width: 100%;
            height: auto;
            text-wrap: none !important;
            padding-top: .2vh;
            padding-bottom: .1vh;
        }

            .LLinks a:hover {
                color: #00FF9D;
            }









    @@media only screen and (max-width: 1650px) {
    }

    @@media only screen and (max-width: 800px) {
    }
</style>

<a href="/" id="Home">   <img src="~/home-24px.svg" />     </a>
<br />
<nav class="LLinks">

    <style>

    </style>

    <div><a href=/Resume id=Resume>             <i>/</i>Resume </a>                         </div>
    <div><a href=/GuestBook id=GuestBook>       <i>/</i>Guestbook</a>                         </div>

</nav>



