

<style>

    #Home {
        position: fixed;
        /*left: 5vw;*/
        left: 95px;
        top: 0;
        margin: auto;
        text-align: center;
        padding: 0;
        background-color: #828282;
        width: 3vw;
        min-width: 40px;
        height: 29px;
        z-index: 10000;
        border-bottom: 1px solid #dddddd;
    }

        #Home:hover {
            background-color: rgb(114 196 219);
        }






    @@media only screen and (max-width: 1650px) {
    }

    @@media only screen and (max-width: 800px) {

        .LLinks div {
            width: 100%;
        }
    }
</style>

<a href="/" id="Home">   <img src="~/home-24px.svg" />     </a>
<br />
<nav class="LLinks">

    <style>
        #Resume {
            color: #49ff00;
            font-size: 22px;
        }

        #GuestBook {
            color: #49ff00;
            font-size: 22px;
        }

    </style>

    <div><a href=/Resume id=Resume>             <i>/</i>Resume </a>                         </div>
    <div><a href=/GuestBook id=GuestBook>       <i>/</i>Guestbook</a>                         </div>

</nav>



