main {
  margin-top: 5%;
}
@page {
  size: 5.5in 8.5in;
  size: A4;
}
.download {
  width: 14%;
  height: auto;
  padding: 1% 0%;
}
.download a,
.download button {
  background: black;
  color: white;
  border: none;
  padding: 1% 4%;
  font-size: 10px;
  margin-top: 0%;
  margin-bottom: 10%;
  margin-left: 0;
}
.download a:hover,
.download button:hover {
  color: #f600ff;
}
.download img {
  height: 10px;
  width: auto;
  background: white;
}
.download a {
  padding: 2% 4%;
}
page img {
  height: 100%;
  width: 100%;
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
  /*transform: scale(1.2);*/
  /*transform: scale(1.2);*/
  /*margin-top:6.6%;
    margin-bottom:10%;*/
  position: relative;
}
* {
  box-sizing: border-box;
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  border: 1px solid #313131;
  box-sizing: border-box;
}
#Artisan {
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 1%;
}
#Artisan o {
  font-size: 11px;
  color: rgba(255, 177, 54, 0.68);
}
#Artisan span {
  font-size: 10px;
  line-height: 13px;
}
.img {
  box-shadow: -0.1px 0px 10px 1px rgba(0, 0, 0, 0.75);
}
.cv {
  font-size: 24px;
  width: 35%;
  height: auto;
  margin: auto;
  margin-bottom: 3%;
  list-style: none;
  background-color: rgba(73, 82, 103, 0.35);
  overflow: hidden;
  margin-bottom: 4%;
  color: black;
  border-radius: 2px;
}
.cv a {
  color: black;
}
.cv div:nth-child(2) {
  padding: 1% 2%;
}
.cv p {
  padding: 0 2%;
  color: #101010;
  text-shadow: 0.1px 0px 0.1px rgba(73, 73, 73, 0.06);
  font-size: 14px;
  font-weight: 200;
  line-height: 21px;
}
l {
  font-size: 14px;
  font-weight: bold;
}
r {
  float: right;
  font-size: 14px;
  font-weight: bold;
}
.cv img {
  width: 94%;
  height: auto;
  display: block;
  border: 1px solid rgba(11, 11, 11, 0.39);
  margin: auto;
  margin-bottom: 30px;
  margin-top: 2%;
  border-radius: 2px !important;
}
.cv o {
  color: #5d0000;
  font-size: 13px;
}
.edison {
  position: absolute;
  top: 20%;
  right: 8%;
  z-index: -1;
  width: 28%;
  height: auto;
  border-radius: 3px;
}
.cv2 {
  width: 35%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.34);
  border-radius: 2px;
  padding: 1%;
  margin-bottom: 1%;
}
.img {
  height: 200px;
  width: auto;
}
button {
  margin: 1% 3%;
  font-size: 12px;
}
#res a:hover {
  color: deeppink;
}
#res {
  /*margin-top: -142%;*/
  font-family: "IBM Plex Mono", monospace, "Open Sans", sans-serif;
  /*background: linear-gradient(0.74turn,#000000,#2d0700d6,rgb(2, 0, 10));*/
  background: #1c1c1c;
  /*background: linear-gradient(0.74turn,rgb(0, 0, 0),rgba(57, 9, 0, 0.84),rgba(25, 25, 25, 0.95));*/
  background: linear-gradient(0.74turn, #2a1014, #21141e, #25112a);
  height: 100%;
  width: 100%;
}
#resHead {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 14%;
 
    border-bottom: 1px solid#b1c4c7;
}
#resHead a {
  letter-spacing: .4px;
  font-weight: 600;
  color: rgba(224, 224, 224, 0.74);
  text-shadow: none;
  font-weight: 200 !important;
  letter-spacing: .5px;
  font-size: 9px;
  border: none;
}
#resHead ul {
  text-align: end;
  list-style-type: none;
  margin-right: 10%;
  margin-top: -3%;
}
#resHead li {
  text-shadow: -1px 0px #0202028f 8f;
  font-size: 11px;
  padding: 1.5% 0;
}
#resHeadBlock {
  float: left;
  display: none;
  height: 50px;
  width: 30px;
  margin-right: -30px;
  background: #11b7be;
  background: linear-gradient(153deg, #45c7cb 0%, #2b7873 100%);
  position: relative;
  margin-top: -3%;
}
#resHeadName {
  padding-top: 4%;
  height: 100%;
  width: 37.5%;
}
#resHeadName p {
  font-size: 9px;
  line-height: 11.5px;
  margin-left: 10%;
  margin-bottom: 0%;
  margin-top: 6px;
  color: #828282;
  text-shadow: none;
}
#resHeadName p:first-of-type {
  margin-top: 1.5%;
}
#resHeadContact {
  padding-top: 6%;
  height: 100%;
  width: 37.5%;
  margin-right: -13%;
}
.w-25 {
  height: 100%;
  width: 20%;
}
.redBodyWrapper {
  display: flex;
  justify-content: space-around;
  height: 86%;
  /*background-color: rgba(54, 33, 59, 0.7);*/
}
.resBody {
  width: 50%;
  height: 100%;
  float: left;
  padding-left: 3.5%;
  padding-right: 3%;
  padding-top: 2.5%;
}
.resBody:nth-child(1) {
  padding-top: 0;
}
.resBody a {
  border-bottom: 0;
}
.resvignetteWrapper {
  padding-top: 0%;
  width: 100%;
  height: 100%;
  display: flex;
}
.resvignette {
  position: relative;
  height: 110px;
  width: 110px;
  /*border: 3px solid rgb(9, 139, 145);*/
  margin: auto;
  border-radius: 55px;
  overflow: hidden;
  background-color: #6f6f6f;
}
.resvignette img {
  margin: auto;
  position: relative;
  border-radius: 29px;
  width: 77%;
  height: auto;
}
.bodyTitle {
  font-weight: 800;
  padding-bottom: -50px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .8px;
  word-spacing: 3px;
  color: #bbb1b3;
}
.resBody:nth-child(2) .bodyTitle {
  margin-left: -8%;
}
.resJob {
  /*outline: 1px solid yellow;
        background-color: #808080;*/
  width: 100%;
  height: auto;
  margin-top: -1.25%;
  padding-bottom: 3%;
}
.resJob h1 {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #bbb1b3;
  letter-spacing: .1px;
}
.resJob h2 {
  margin-top: -2.7%;
  margin-bottom: 5%;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: black;
  padding-left: 5%;
}
.resJob a {
  color: black;
  border: none;
  text-decoration: none;
}
.dateLocation {
  margin-top: -3%;
  margin-bottom: 1.5%;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  padding: 0 2.5%;
}
.dateLocation span {
  color: #666666;
  text-shadow: none;
  font-weight: 400;
  letter-spacing: .05px;
  text-indent: 0;
  font-size: 10px;
  line-height: 11px;
}
.Progen {
  color: #0aa6a9;
  font-size: 10px;
  letter-spacing: .4px;
  font-weight: 200;
}
.jobDesc {
  color: #71a096;
  margin-top: -0.5%;
  text-align: left;
  float: right;
  letter-spacing: .4px;
  font-size: 8px;
  margin-bottom: 8px;
}
.resJob ul {
  padding-top: 2%;
  margin-left: -30px;
  margin-bottom: 0;
}
.resJob li {
  color: #8c8c8c;
  padding-top: 1.5%;
  font-weight: 200;
  font-size: 10px;
  line-height: 12.5px;
  word-spacing: 1px;
  list-style: none;
  letter-spacing: -0.1px;
}
.achievements span {
  font-size: 11px;
  line-height: 14px;
  font-style: italic;
  font-size: 9px;
}
.nameTitle {
  font-size: 26px;
  margin-left: 16.5%;
  font-weight: 600;
  color: black;
}
.resHeadIcon {
  height: 13px;
  width: auto;
  margin-bottom: -2px;
}
#skills {
  margin-top: 1%;
  margin-left: -50px;
  padding: 1% 5%;
}
.pandaH {
  margin-top: 0%;
  font-size: 11px;
}
.pandaMonium {
  float: right;
  width: 75px;
  height: auto;
  margin-right: -2%;
  margin-top: -1%;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.66);
  box-shadow: -1px 1px 0.1cm 1px black, inset -1px -1px 0.1cm 5cm #35ffa2;
}
.adobePortage {
  font-size: 9px;
  color: rgba(47, 214, 10, 0.68);
}
.green,
.green p {
  color: rgba(99, 210, 74, 0.68) !important;
}
#portage {
  text-decoration: line-through;
  font-size: 9px;
  color: grey;
}
#skills li {
  width: auto;
  display: inline-block;
  background-color: #00000047;
  color: rgba(255, 255, 255, 0.641);
  border-radius: 20px;
  font-size: 11px;
  margin-bottom: 8px;
  letter-spacing: 1.2px;
  padding: 0 13px !important;
}
#skills li p {
  font-size: 10px;
  text-align: center;
  width: auto;
}
.resEdu {
  margin-top: -2%;
  margin-left: -8%;
  padding-bottom: 2%;
}
.resEdu h1,
.resEdu h1 a {
  color: rgba(160, 160, 160, 0.88);
  color: #0aa6a9;
  line-height: 18px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.resEdu h2 a {
  margin-top: -2%;
  line-height: 16px;
  color: rgba(134, 134, 134, 0.93) !important;
  font-size: 15px;
  font-weight: 400;
  margin-left: 1%;
}
.resEdu a {
  font-weight: 600;
}
.resEdu ul {
  margin-left: -22px;
  margin-top: -0.01%;
}
.resEdu li {
  font-weight: 600;
  display: inline-block;
  width: 45%;
  font-size: 11px;
}
.resEdu li:before {
  content: "•";
}
.smGreyItalic {
  color: #71a096;
  font-size: 10px;
  font-style: italic;
}
.smGreyItalic a {
  color: black;
}
.resEdu h2 {
  margin-top: -2%;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.resActivity {
  margin-top: -2%;
  margin-left: -8%;
  padding-bottom: 2%;
}
.resActivity h1 {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #888;
}
.resActivity .dateLocation {
  margin-left: -2%;
  margin-top: 1%;
}
.resActivity ul {
  margin-left: -22px;
  margin-top: -1%;
}
.resActivity li {
  display: inline-block;
  width: 45%;
  font-size: 11px;
}
.resActivity li:before {
  content: "•";
}
.smGreyItalic {
  font-size: 10px;
  font-style: italic;
}
.smGreyItalic a {
  font-size: 10px;
}
.resActivity .smGreyItalic {
  margin-top: -2.5%;
}
.geBulb {
  position: absolute;
  height: auto;
  width: 50%;
  margin: auto;
  padding: 0;
  z-index: -100;
  border: 1px solid yellow;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  left: 25%;
  top: 80%;
}
.geBulb img {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .cv {
    width: 80% !important;
  }
}
@media print {
  a {
    border-bottom: none;
  }
  page {
    border: none;
    height: 100%;
    width: 100%;
  }
}
